#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	# Install GPU firmware to arch-specific path (Mali-G720 = arch 12.8)
	install -D -m 644 firmware/arm/mali/mali_csffw.bin \
		$(CURDIR)/debian/sky1-firmware/lib/firmware/arm/mali/arch12.8/mali_csffw.bin
	# Backward-compat symlinks
	ln -sf arch12.8/mali_csffw.bin \
		$(CURDIR)/debian/sky1-firmware/lib/firmware/arm/mali/mali_csffw.bin
	ln -sf arm/mali/arch12.8/mali_csffw.bin \
		$(CURDIR)/debian/sky1-firmware/lib/firmware/mali_csffw.bin

	# Install DSP firmware
	install -D -m 644 firmware/dsp_fw.bin \
		$(CURDIR)/debian/sky1-firmware/lib/firmware/dsp_fw.bin

	# Install video codec firmware
	for fw in firmware/*.fwb; do \
		install -D -m 644 "$$fw" \
			$(CURDIR)/debian/sky1-firmware/lib/firmware/$$(basename "$$fw"); \
	done

	# Install WiFi firmware (RTL8852BE)
	for fw in firmware/rtw89/*.bin; do \
		install -D -m 644 "$$fw" \
			$(CURDIR)/debian/sky1-firmware/lib/firmware/rtw89/$$(basename "$$fw"); \
	done

	# Install ALSA UCM2 config for CIX Sky1 DP audio (replaces broken upstream)
	for ucm in ucm2/cix_sky1/*.conf; do \
		install -D -m 644 "$$ucm" \
			$(CURDIR)/debian/sky1-firmware/usr/share/alsa/ucm2/conf.d/cix_sky1/$$(basename "$$ucm"); \
	done
